# -------------------
# Backend (Python)
# -------------------
backend/.env
backend/venv/
# backend/venv/
backend/__pycache__/
*.pyc

# -------------------
# Frontend (Node)
# -------------------
node_modules/
dist/
dist-ssr/

# -------------------
# Logs
# -------------------
logs
*.log

# -------------------
# OS / Editor
# -------------------
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# -------------------
# Env (general safety)
# -------------------
.env
*.local
backend/env/